* {
  box-sizing: border-box;
}

.newspaper {
  white-space: pre-wrap;
  padding: 20px;
  background-color: gainsboro;
  line-height: 2.5rem;
  margin-top: 120px;
  text-align: justify;
  font-size: 1.3rem;
}

button {
  font-size: 1rem;
  border: none;
  background-color: black;
  color: white;
  padding: 8px 10px;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
  font-family: 'Cinzel Decorative', cursive;
}

a {
  color: black;
  text-decoration: none;
}

.para {
  line-height: 2rem;
  padding: 10px;
}

.btn-icon {
  margin-right: 8px;
  vertical-align: baseline;
}
