.header {
  position: fixed;
  top: 0;
  background: white;
  width: 100vw;
  padding: 10px 10px 0 10px;
  box-shadow: 0 0 10px grey;
}

.players_ol {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.players_li {
  padding: 10px 10px 0 10px;
}

.players_li:nth-of-type(2n) {
  background: #ededed;
}
