.body {
  padding: 10px;
  margin: auto;
  max-width: 800px;
  margin-top: 65px;
}

.card {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}
