* {
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

a {
  color: #e3e3e3 !important;
  text-decoration: none !important;
}

hr {
  border-color: rgb(256, 256, 256, 0.1);
}

.btn-icon {
  margin-right: 8px;
  vertical-align: baseline;
}

.text-center {
  text-align: center;
}
